.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(232, 242, 250);
}
.loginLabel {
  padding-top: 15vh;
}

.loginTitle {
  font-size: x-large;
  padding-bottom: 5vh;
}

.input {
  margin-right: 5vh;
}

.mainPageLabel {
  padding-top: 15vh;
}

.pageTitle {
  font-size: x-large;
}

.employeesListLabel {
  padding-top: 5vh;
}

.employee {
  background-color: white;
  margin: auto;
  width: 30%;
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 5px;
  margin-top: 3px;
}

ul {
  list-style-type: none;
  margin-left: -30px;
}
.registerLabel {
  padding-top: 5vh;
}

.registerTitle {
  font-size: x-large;
  margin-bottom: 15px;
}

.updateStatus {
  margin-top: 15px;
}

.select {
  margin-left: 5px;
}
